<!DOCTYPE html>
<html lang="en">
<head>
    <script src="app.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <center>
        
        <nav>
            <ul>
                <li id="list1"><a href="#">Contact</a></li>
                <li id="list2"><a href="#">About Us</a></li>
                <li id="list3"><a href="#">News</a></li>
                <li id="list4"><a href="#">Products  </a></li>
            </ul>
        </nav>
        
        <h1 id="title">Jordan Brand Launches the Air Jordan XXXVIII</h1>
        <div id="news">
            <img src="#" alt="sorry image doesnot appear" id="newsIMG">
            
        </div> 
        <div id="products"> 
            <div id="line1"></div>
            <div id="line2"></div>
            <h2 id="productTitle">Jordan 1 High </h2>
            <img src="#" alt="sorry products does not appear" id="productIMG">
            <p id="productDescription">The Air Jordan 1 Mid brings full-court style and premium comfort to an iconic look. Its Air-Sole unit cushions play on the hardwood, while the padded collar gives you a supportive feel.</p>
            <button id="addToFav">Add To Cart</button>
            <div id="line3"></div>
            <div id="line4"></div>
            <h2 id="productTitle" class="productTitle">Air Jordan 1 Low FlyEase</h2>
            <img src="#" alt="sorry products does not appear" id="productIMG2" >
            <p id="productDescription">The Air Jordan 1 Low FlyEase combines the coveted look of Michael Jordan's first signature sneaker with a FlyEase entry system that gets you in quickly and easily. Crisp leather and signature branding deliver premium style.</p>
            <button id="addToFav">Add To Cart</button>
            <hr>


        </div>
    </center>
</body>
</html>