

#gridCheck{
    cursor:pointer
}
#cont{
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    
}

#floatingInput ,#floatingUname ,#floatingPassword{
    border-radius: 8px;
}
